h1 {
    color: tomato
}

button {
    display: inline-block;
    height: 134px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 104px;
}

#clickerbutton {
    background-image: url("images/dog.png");
    background-size: 100px 130px;
    height: 134px;
    width: 104px;
}